\documentclass[12pt]{article}
\usepackage{upquote}

\begin{document}

{\Large CSC241 Winter 2014 - Lab Assignment 2}

\section{Examples}

\noindent Consider the following Python program:
\begin{verbatim}
>>> s = "3.14"
>>> print(s+s)
3.143.14
>>> a = float(s)
>>> print(a+a)
6.28
\end{verbatim}

\noindent Consider the following Python program:
\begin{verbatim}
s = input("type something: ")
for k in range(len(s)):
    if s[k] == 'x'
        print(k)
        break
\end{verbatim}
\noindent It prints the index te first occurrance of the character 'x' in the string s.

\noindent Consider the following Python program:
\begin{verbatim}
while True:
    s = input('type something: ')
    if s == 'quit':
        break
    else:
        print(len(s))
\end{verbatim}
\noindent It asks you to type something and prints the length of what you type, until you type ``quit''.

\section{Program 1 (2 points)}

\noindent Write a program ({\tt a2p1.py})  
that inputs two numbers (float, not int) and                                                                              
returns the biggest of them.
The program file must be called {\tt a2p1.py}

\noindent When done you can grade it automatically with
\begin{verbatim}
$ grade a2p1.py
\end{verbatim}

\section{Program 2 (2 points)}

\noindent Write a program ({\tt a2p2.py}) 
Write a program that repeatedly asks you to input a number (float)                                                                        
until you input the number 0. It then outputs the sum of those numbers,                                                                   
not including the 0.

\noindent When done you can grade it automatically with
\begin{verbatim}
$ grade a2p2.py
\end{verbatim}

\section{Program 3 (2 points)}

\noindent Write a program ({\tt a2p3.py})
that repeatedly asks you to input a number (float)                                                                        
until you input the number 0. It then outputs the average or those numbers,                                                               
not including the 0.
\begin{verbatim}
$ grade a2p3.py
\end{verbatim}

\section{Program 4 (2 points)}
\noindent Write a program ({\tt a2p4.py})
that repeatedly asks you to input a string until                                                                          
you enter a string of length 0.                                                                                                           
It then outputs the longest of those strings. 
\begin{verbatim}
$ grade a2p4.py  
\end{verbatim}

\section{Program 5 (3 points extra credit)}
\noindent Write a program ({\tt a2p5.py})
that asks you to input one string and for each character in the string, counts how many time the same character appears in the string.
\end{document}
